<div class="col mb-3">
    <div class="card h-100">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top" alt="Hollywood Sign on The Hill" />
        <div class="card-body d-flex flex-column justify-content-between">
            <h4 class="card-title t-shadow-sml-light"><%= service.name %></h4>
            <% if current_page?(services_path) %>
                <h6 class="card-subtitle mb-2 text-muted">Category: <%= service.category.name %></h6>
            <% end %>
            <p class="card-text"><%= service.description %></p>
            <p class="card-text">Price: <%= service.price %>php</p>
            <% if service.addons.any? %>
                <div class="shadow-sm p-3 mb-5 bg-white rounded">
                    <h6>Addons</h6>                    
                                        
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <%= render service.addons %>
                    </div>
                </div>
            <% end %>
            <% if service.schedules.any? %>
                <div class="shadow-sm p-3 mb-5 bg-white rounded">
                    <h6>Schedules</h6>
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <%= render service.schedules %>
                    </div>
                </div>
            <% end %>           
        </div>

        <% if can? :manage, Service %>
            <div class="d-grid gap-2">
                <%= link_to "New Addon", new_category_service_addon_path(service.category, service), data: { turbo_frame: 'modal' }, class:"btn btn-outline-primary" %>                
                <%= link_to "New Schedule", new_category_service_schedule_path(service.category, service), data: { turbo_frame: 'modal' }, class:"btn btn-outline-primary" %>
                <%= link_to "Edit Service", edit_category_service_path(service.category, service), data: { turbo_frame: 'modal' }, class:"btn btn-outline-primary" %>
                <%= button_to "Delete Service", category_service_path(service.category, service), method: :delete, form: { data: { turbo_confirm: "Delete #{service.name}?" } }, class:"btn btn-outline-danger w-100" %>
            </div>            
        <% else %>
            <%= form_with url: "/categories/#{service.category.id}/services/#{service.id}/bookings/new", method: :get, data: { turbo_frame: 'modal' } do |form| %>
                <div class="field">
                    <%= form.label :schedule_id %><br />
                    <%= form.collection_select :schedule_id, service.schedules, :id, :available_date %>
                </div>
                <%= form.submit "Add to Cart" %>
            <% end %>
        <% end %>   
    </div> 
</div>

