<% if current_page?(overview_path) %>
    <tr>
        <td><%= booking.booking_number %></td>
        <td><%= booking.service_name %></td>

        <% if booking.addon_names.any? %>        
            <td><%= booking.addon_names.to_sentence %></td>  
        <%else%>    
            <td>None</td>
        <%end%>             
        <td><%= "#{booking.first_name} #{booking.last_name}" %></td>
        <td><%= booking.email %></td>
        <td><%= booking.contact_number %></td>
        <td><%= booking.status.capitalize %></td>
    </tr>
<% else %>
    <div class="card" style="width: 18rem;">
        <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title">Order Number: <%= booking.booking_number %></h5>
            <h6 class="card-subtitle mb-2 text-muted">Order Date</h6>
            <p class="card-text"><%= booking.date_booked.strftime("%A, %B %d %Y") %></p>
            <h6 class="card-subtitle mb-2 text-muted">Name</h6>
            <p class="card-text"><%= "#{booking.first_name} #{booking.last_name}" %></p>
            <h6 class="card-subtitle mb-2 text-muted">Email</h6>
            <p class="card-text"><%= booking.email %></p>
            <h6 class="card-subtitle mb-2 text-muted">Contact</h6>
            <p class="card-text"><%= booking.contact_number %></p>
            <h6 class="card-subtitle mb-2 text-muted">Address</h6>
            <p class="card-text"><%= "#{booking.street}, #{booking.village}, #{booking.city}, #{booking.province}, #{booking.postal_code}" %></p>
            <h6 class="card-subtitle mb-2 text-muted">Service Availed</h6>
            <p class="card-text"><%= booking.service_name %></p>
            <h6 class="card-subtitle mb-2 text-muted">Service Price</h6>
            <p class="card-text"><%= booking.service_price %></p>
            <% if booking.addon_names.any? %>
                <h6 class="card-subtitle mb-2 text-muted">Addons</h6>
                <% for i in 0..(booking.addon_names.count - 1) do %>
                    <p class="card-text my-0 py-0"><%= "#{booking.addon_names[i]} +#{booking.addon_prices[i]}php" %></p>
                <% end %>
            <% end %>
            <h6 class="card-subtitle mb-2 text-muted">Scheduled Date</h6>
            <p class="card-text"><%= booking.scheduled_date.strftime("%A, %B %d %Y") %></p>
            <h6 class="card-subtitle mb-2 text-muted">Scheduled Time</h6>
            <p class="card-text"><%= booking.scheduled_time.strftime("%I:%M%p") %></p>
            <h6 class="card-subtitle mb-2 text-muted">Total Amount</h6>
            <p class="card-text"><%= booking.amount %></p>
            <h6 class="card-subtitle mb-2 text-muted">Payment</h6>
            <p class="card-text"><%= booking.payment %></p>
            <h6 class="card-subtitle mb-2 text-muted">Status</h6>
            <p class="card-text"><%= booking.status.capitalize %></p>
            <% if can? :manage, Booking %>
                <% if booking.status == "pending" %>  
                    <%= button_to "Cancel Booking", booking_cancel_path(booking), method: :patch, form: { data: { turbo_confirm: "Cancel Booking?" } }, class:"btn btn-outline-danger w-100" %>
                    <%= button_to "Completed Booking", booking_complete_path(booking), method: :patch, form: { data: { turbo_confirm: "Complete Booking?" } }, class:"btn btn-outline-success w-100" %>
                <% end %> 
            <% end %>            
        </div>
    </div>
<% end %>

