<tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><%= user.contact_number %></td>
    <td><%= user.street %></td>
    <td><%= user.village %></td>
    <td><%= user.city %></td>
    <td><%= user.province %></td>
    <td><%= user.postal_code %></td>
</tr>