<%= form_with(model: [@category, @service, addon]) do |f| %>
    
    <div>
        <%= f.label :available_date %>
        <%= f.date_field :available_date, min: Date.today, value: Date.today %>
    </div>

    <div>
        <%= f.label :available_date %>
        <%= f.date_field :available_date, min: Date.today, value: Date.today %>
    </div>
    
    <div>
        <%= f.label :available_date %>
        <%= f.date_field :available_date, min: Date.today, value: Date.today %>
    </div>

    <div>
        <%= f.submit %>
    </div>
    
<% end %>