<nav class="navbar nav-tabs navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Ruby Salon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <% if current_user.is_admin %>
            <li class="nav-item">
                <%= link_to "Home", overview_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Bookings", bookings_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Categories", categories_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Services", services_path, class:"nav-link" %>
            </li>
        <% else %>
            <li class="nav-item">
                <%= link_to "Services", services_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Payment Options", user_payment_options_path(current_user), class:"nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Bookings", bookings_path, class:"nav-link" %>
            </li>
        <% end %>
        <li class="nav-item">
          <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class:"nav-link btn btn-outline-primary" %>
        </li>
      </ul>
    </div>
  </div>
</nav>