<!DOCTYPE html>
<html>
  <head>
    <title>ServiceBookingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container-lg">
    <%= render "layouts/navbar" unless current_page?(root_path) || !user_signed_in? %>

    <%= yield %>

    <%= turbo_frame_tag "modal" %>

    <dialog id="turbo-confirm">
      <form method="dialog" class="b-radius">
        <p>Are you sure?</p>
        <div>
          <button class="btn btn-secondary" value="cancel">Cancel</button>
          <button class="btn btn-danger" value="confirm">Confirm</button>
        </div>
      </form>
    </dialog>

  </body>
</html>
